@media (width > 375px) {
  body {
    /* background-color: rgb(255, 255, 255); */
    /* height: 100vh; */
    width: 100vw;
  }
  main.card {
    /* margin: 100px 0; */
    height: 400px;
    width: 600px ;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-items: center; */
  }
  img.imageMobile{
    display: none;
  }
  img.imagePc{
    display: block;
    margin: 0;
    height: 400px;
    width: 500px;   
    object-fit: fill;
    border-top-left-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: none;

  }
}
